<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报警系统管理平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
</head>

<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="index.html">报警系统管理平台</a>
    </div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>

    <ul class="layui-nav right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/static/images/avator.jpg" class="layui-nav-img"> 超级管理员
            </a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="">基本资料</a>
                </dd>
                <dd>
                    <a href="javascript:;" onclick="updatePwd()">安全设置</a>
                </dd>
                <dd>
                    <a href="/logout">退出登录</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a target_url="/contact/all" href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>人员管理</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;" target_url="/prodline/all">
                    <i class="iconfont">&#xe723;</i>
                    <cite>产线管理</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ce;</i>
                    <cite>系统配置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a target_url="/sysconf/sys">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系统参数配置</cite>
                        </a>
                    </li>
                    <li>
                        <a target_url="/sysconf/email">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>邮箱配置</cite>
                        </a>
                    </li>
                    <li>
                        <a target_url="/sysconf/wechat">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>微信配置</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- 左侧菜单结束 -->

<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
        <ul class="layui-tab-title">
            <!--<li>我的桌面</li>-->
        </ul>
        <div class="layui-tab-content">
            <!--<div class="layui-tab-item layui-show">
            </div>-->
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->


<!-- /// footer start -->
<div class="footer">
    <div class="copyright">Copyright ©2018 报警系统管理平台 All Rights Reserved 柳钢信息部版权所有</div>
</div>
<!-- /// end start -->

<div id="pwdModel">
    <form class="layui-form model-form" action="" method="put">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input name="oldPsw" placeholder="请输入旧密码" type="password" class="layui-input" maxlength="12"
                       lay-verify="required|pass" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input name="newPsw" placeholder="请输入新密码" type="password" class="layui-input" maxlength="12"
                       lay-verify="required|pass" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input name="newPsw2" placeholder="请再次输入新密码" type="password" class="layui-input" maxlength="12"
                       lay-verify="required|psw2" required>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" type="button" id="pswCancel">取消</button>
            <button class="layui-btn" lay-filter="pswSubmit" lay-submit="">修改</button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.config({
        base: '/static/js/',
        version: '101100'
    }).use('admin');

</script>
</html>