<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报警系统管理平台登录页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/weadmin.css">
</head>
<body class="login-bg">
    <div class="login">
        <div class="message">报警系统管理平台 - 管理登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" action="/doLogin">
            <input name="name" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input name="pwd" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
            <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20">
        </form>
    </div>
<!-- 底部结束 -->
</body>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.extend({
        admin: '/static/js/admin'
    });
    layui.use(['layer', 'jquery'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;

        #if(StrUtil.isNotBlank(errmsg))
            layer.msg('#(errmsg)');
            $("input[name='name']").val("");
            $("input[name='pwd']").val("");
        #end

    });
</script>
</html>